bin
obj
.DS_Store
*.userprefs
*.user
*.pidb
*.suo
*.Cache
*.mpack
addin-project.xml
Makefile
MonoDevelop.StyleCop.sln
MonoDevelop.StyleCop/MonoDevelop.StyleCop.addin.xml
MonoDevelop.StyleCop/MonoDevelop.StyleCop.csproj
MonoDevelop.StyleCop/gtk-gui/gui.stetic
MonoDevelop.StyleCop/Properties/AssemblyInfo.cs
pack